In [1]:
import pandas as pd

In [2]:
df_sismos = pd.read_csv('seismic_data.csv')
df_sismos.head()

             Date(UTC)  Latitude  Longitude  Depth  Magnitude
0  2025-05-26 03:50:27    -19.63     -69.49     97        5.6
1  2025-05-13 00:47:58    -51.25     -72.28     28        5.1
2  2025-05-05 09:46:48    -29.49     -71.84     48        5.0
3  2025-05-05 02:17:48    -31.89     -70.88     88        5.1
4  2025-05-02 15:23:49    -27.52     -72.48     30        5.8

In [4]:
df_sismos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018 entries, 0 to 4017
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date(UTC)  4018 non-null   object
 1   Latitude   4018 non-null   float64
 2   Longitude  4018 non-null   float64
 3   Depth      4018 non-null   int64
 4   Magnitude  4018 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 157.1+ KB